.deck-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

input[type="text"]{
    font-size: 15px;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.10rem rgba(234, 80, 62, 0.25);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6123a8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(234, 80, 62, 0.25);
}

.deck-form .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6123a8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(234, 80, 62, 0.25);
}
