.deck-form-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deck-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.deck-form-container .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #6123a8;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(234, 80, 62, 0.25);
}


.deck-form-container input[type="text"],
.deck-form-container textarea {
    font-size: 18px;
    border: 1.2px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(234, 80, 62, 0.25);
}
