.admin-page {
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 120%;
}

    .admin-page .table {
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .admin-page .table-striped > tbody {
        color: #712c66;
    }

.table-striped > tbody > tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: #712c66;
}
